html, body {
    margin  : 0;
    padding : 0;
    min-height: 100%;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Alegreya', Palatino, Arial;
    color: rgb(7,54,56);
    background: url(trogne.png) #FDF6E5 right bottom no-repeat;
}
section {
    width: 600px;
    margin: 0 auto;
    position: relative;
    padding: 0 0 4em 0;
}
h1 {
    margin: 0;
    font-size: 50px;
    font-size: italic;
    padding: 0;
    height: 200px;
    line-height: 200px;
    border-bottom: 1px solid #859900;
    position: relative;
}
h1 small, h1 span {
    color       : rgb(101,123,131);
    font-weight : normal;
}
h1 span {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 1em;
    opacity: 0.5;
    font-size: 60%;
}
h2 {
    font-size: 20px;
    margin: 0;
    padding: 30px 0 10px;
}
i {
    color: #CB4B16;
    opacity: 0;
    margin-left: -1.4em;
    transition-property: opacity;
    transition-duration: 0.3s;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.3s;
}
img {
    max-width: 100%;
}
a {
    color: #2AA198;
}
a:hover i {
    opacity: 1;
}
@media (max-width: 480px) {
    body {
        background-size: 140px;
    }
    section {
        width: auto;
        padding: 0 1em;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 18px;
    }
}
